{{ form_start(form2) }}
    {{ form_widget(form2) }}
<button class="btn">{{ button_label|default('Save') }}</button>
<br><br>Example:
<br>https://www.alza.cz/iphone-15-pro?dq=7927759
<br>https://www.amazon.es/BOYA-Micr%C3%B3fono-Solapa-inal%C3%A1mbrico-iPhone/dp/B0BPSD8BG2
<br>https://www.amazon.com/-/es/almacenamiento-compresi%C3%B3n-paquete-X-Jumbo-medianas/dp/B07RP7TJVT/
{{ form_end(form2) }}